<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<!-- Bootstrap CSS -->
    <link th:href="@{/resources/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/resources/css/dataTables.bootstrap5.min.css}" rel="stylesheet">  
	<link th:href="@{/resources/datepicker/bootstrap-datepicker.css}" rel="stylesheet">
	<link th:href="@{/resources/css/bootstrap-icons.css}" rel="stylesheet">
	
	<link href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
	
	<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.css}">
	<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.min.css}"> 
	
	<!-- Custom fonts for this template -->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">

	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
	
	<link rel="stylesheet" th:href="@{/alertifyjs/css/alertify.css}">
	<link rel="stylesheet" th:href="@{/alertifyjs/css/alertify.min.css}"> 

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<ul  th:replace="plantilla/UITemplate :: cabecera"></ul>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				
				
				<!-- End of Topbar -->
				<h3 class="text-center">Mantenimiento de Productos</h3>
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalproductos">
					Nuevo Producto
				</button>

				<!-- Modal PARA REGISTRAR-->
				<div class="modal fade" id="modalproductos" data-bs-backdrop="static" data-bs-keyboard="false"
					tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="staticBackdropLabel">Productos</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<form id="formEdificio" action="/tables/grabar" method="post" class="row g-3">
									<div class="form-group col-md-6">
										<label for="validationCustomUsername" class="form-label fw-bold">Codigo</label>
										<div class="input-group has-validation">
											<span class="input-group-text" id="inputGroupPrepend"><i
													class="bi bi-file-person"></i></span>
											<input type="text" class="form-control" name="codigo_pro" id="idCodigo" readonly value="0" >
										</div>
									</div>
									<div class="form-group col-md-6">
										<label for="validationCustomUsername" class="form-label fw-bold">Nombre</label>
										<div class="input-group has-validation">
											<span class="input-group-text" id="inputGroupPrepend"><i
													class="bi bi-file-person"></i></span>
											<input type="text" class="form-control" name="nombre_pro" id="idNombre">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label for="validationCustomUsername"
											class="form-label fw-bold">Proveedor</label>
										<div class="input-group has-validation">
											<span class="input-group-text" id="inputGroupPrepend"><i
													class="bi bi-prescription2"></i></span>
											<select class="form-select form-control" name="tipo_pro" id="idProveedor">
												<option value=" ">[Seleccione Proveedor]</option>
												<option th:each="row:${prove}" th:utext="${row.nombreCia}"
													th:value="${row.idProv}" />
											</select>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label for="validationCustomUsername"
											class="form-label fw-bold">Categoria</label>
										<div class="input-group has-validation">
											<span class="input-group-text" id="inputGroupPrepend"><i
													class="bi bi-prescription2"></i></span>
											<select class="form-select form-control" name="tipo_cat" id="idCategoria">
												<option value=" ">[Seleccione Categoria]</option>
												<option th:each="row:${categ}" th:utext="${row.nombreCategoria}"
													th:value="${row.idcate}" />
											</select>
										</div>
									</div>
									<div class="form-group col-md-6">
										<label for="validationCustomUsername" class="form-label fw-bold">Unidad</label>
										<div class="input-group has-validation">
											<span class="input-group-text" id="inputGroupPrepend"><i
													class="bi bi-coin"></i></span>
											<input type="text" class="form-control" name="unidad" id="idUnidad">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label for="validationCustomUsername" class="form-label fw-bold">Precio</label>
										<div class="input-group has-validation">
											<span class="input-group-text" id="inputGroupPrepend"><i
													class="bi bi-coin"></i></span>
											<input type="text" class="form-control" name="precio" id="idPrecio">
										</div>
									</div>
									<div class="form-group col-md-6">
										<label for="validationCustomUsername" class="form-label fw-bold">Stock</label>
										<div class="input-group has-validation">
											<span class="input-group-text" id="inputGroupPrepend"><i
													class="bi bi-coin"></i></span>
											<input type="text" class="form-control" name="stock_prod" id="idStock">
										</div>
									</div>
									<div class="modal-footer">
										<button type="submit" class="btn btn-primary"><i class="bi bi-save2"></i>
											Grabar</button>
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i
												class="bi bi-x-circle-fill"></i> Cerrar</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!--fin modal PARA REGISTRAR-->
				
				<!-- Modal PARA IMG-->
		<div class="modal fade" id="modalIMG" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-lg">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="staticBackdropLabel">FOTO</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
		        <form id="formDocente" action="/tables/subir-archivo" enctype="multipart/form-data"  method="post" class="row g-3">
					 <input type="hidden" class="form-control" name="codigo" id="idCodigoFoto">
					
					 <img id="foto-producto">
					 		  
				  <div class="form-group col-12">
				
				    <label for="validationCustomUsername" class="form-label fw-bold">Archivo</label>
				    <div class="input-group has-validation">
				      <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-file-person"></i></span>
				      <input type="file" class="form-control" name="data">
				    </div>
				  </div>
				  <div class="modal-footer">
			      	<button type="submit" class="btn btn-primary"><i class="bi bi-save2"></i> Grabar</button>
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-circle-fill"></i> Cerrar</button>
			      </div>
				</form>
		      </div>
		    </div>
		  </div>
		</div>
	    <!--fin modal PARA IMG-->

 



				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">Tables</h1>

					<!-- DataTales Example -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="tableprpodcutos" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>Codigo</th>
											<th>Nombre</th>
											<th>Proveedor</th>
											<th>Categoria</th>
											<th>Unidad</th>
											<th>Precio</th>
											<th>Stock</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Codigo</th>
											<th>Nombre</th>
											<th>Proveedor</th>
											<th>Categoria</th>
											<th>Unidad</th>
											<th>Precio</th>
											<th>Stock</th>
										</tr>
									</tfoot>
									<tbody>
										<tr th:each="row:${super}">
											<td th:text="${row.idProducto}"></td>
											<td th:text="${row.nombreProd}"></td>
											<td th:text="${row.idProveedor.nombreCia}"></td>
											<td th:text="${row.idCategoria.nombreCategoria}"></td>
											<td th:text="${row.unidadM}"></td>
											<td th:text="${row.precioU}"></td>
											<td th:text="${row.unidadEx}"></td>
											
											<td>
												<button type="button" class="btn  btn-editar"
													data-bs-toggle="modal" data-bs-target="#modalproductos">
													<i class="bi bi-save2"></i>
													Editar Producto
												</button>
												
											</td>
											<td><a class="btn btn-danger btn-eliminar"><i class="bi bi-trash-fill"></i></a></td>
											<td><a th:href="${row.nombreArchivo}"  class="btn btn-primary btn-img" data-bs-toggle="modal" data-bs-target="#modalIMG"><i class="bi bi-pencil"></i></a></td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; Your Website 2020</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- JS principal -->
	<script th:src="@{/resources/js/jquery-3.5.1.js}"></script>

	<!-- Option 1: Bootstrap Bundle with Popper -->
    <script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>

	<!-- JS para la tabla -->
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

	<!--JS para validar  -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.0/js/bootstrapValidator.js"></script>
	
	<!--JS para Calendario  -->
	<script th:src="@{/resources/datepicker/bootstrap-datepicker.js}"></script> 
	
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	
	<script th:src="@{/resources/alertifyjs/alertify.js}"></script>
	<script th:src="@{/resources/alertifyjs/alertify.min.js}"></script>
	
	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="/js/demo/datatables-demo.js"></script>
		
		
		
		<script th:inline="javascript" th:if="${MENSAJE!=null}">
		let msj;
		msj=/*[[${MENSAJE}]]*/
		toastr.success(msj, toastr.options = {
			"timeOut": "2000",
			"positionClass " : " toast-top-right ",
		});
	</script>
	<script>
	
	
	//DATOS DEL BOTON DE AGREGAR UNA IMAGEN
	$(document).on("click",".btn-img",function(){
			let cod;
			cod=$(this).parents("tr").find("td")[0].innerHTML;
			
			$("#idCodigoFoto").val(cod);
		    //recuperar el href del boton seleccionado
		    let img=$(this).attr("href");
			if(img!=null){
		      $("#foto-producto").attr("src",'/datosIMG/'+img);	
			}
			else{
				 $("#foto-producto").attr("src",'/datosIMG/');
			}
			
		})	
		
		//Evento para editar
		$(document).on("click",".btn-editar",function(){			
			let cod;
			cod=$(this).parents("tr").find("td")[0].innerHTML;
			$.get("buscar?idProducto="+cod,function(response){
				
				$("#idCodigo").val(response.idProducto);
				$("#idNombre").val(response.nombreProd);
				$("#idProveedor").val(response.idProveedor.idProv);
				$("#idCategoria").val(response.idCategoria.idcate);
				$("#idUnidad").val(response.unidadM);
				$("#idPrecio").val(response.precioU);
				$("#idStock").val(response.unidadEx);
				
				
			})
			
		
		})
		
		
		//EVENTO CLICK PARA ELIMINAR LOS BOTONES CON NOMBRE DE CLASE "BTN-ELIMINAR"
		$(document).on("click",".btn-eliminar",function(){
			
			let cod;
			cod=$(this).parents("tr").find("td")[0].innerHTML;
			alertify.confirm("Esta seguro de Eliminar.",
			  function(){
				window.location="eliminar?idProducto="+cod;
			  },
			  function(){
			    alertify.error('Cancel');
			  });
		})
		
		//para limpiar inpust del modal
		$('#modalproductos').on('show.bs.modal', function (event) {
			$("#modalproductos input").val("");
			$("#modalproductos textarea").val("");
			$("#modalproductos select").val("");
			$("#modalproductos input[type='checkbox']").prop('checked', false).change();
		});
		
		
	</script>	
	
	<script>
		$(document).ready(function () {
		    $('#tableprpodcutos').DataTable();
		    //validación
		    $('#formEdificio').bootstrapValidator({      
	        	 fields:{
	        		 	Codigo:{
	        		 		validators:{
	        		 			notEmpty:{
	        		 				message:'Campo codigo es obligatorio'
	        		 			}
	        		 		}
	        		 	},
	        		 	Nombre:{
	        		 		validators:{
	        		 			notEmpty:{
	        		 				message:'Campo nombre es obligatorio'
	        		 			}
	        		 		}
	        		 	},
	        		 	Proveedor:{
	        		 		validators:{
	        		 			notEmpty:{
	        		 				message:'Campo proveedor es obligatorio'
	        		 			}
	        		 		}
	        		 	},
	        		 	Categoria:{
	        		 		validators:{
	        		 			notEmpty:{
	        		 				message:'Campo categoria es obligatorio'
	        		 			}
	        		 		}
	        		 	},
	        		 	Unidad:{
	        		 		validators:{
	        		 			notEmpty:{
	        		 				message:'Campo unidad es obligatorio'
	        		 			}
	        		 		}
	        		 	},
	        		 	Precio: {
		     	    		//selector:'#usr1',   
		                    validators:{
	        		 			notEmpty:{
	        		 				message:'Campo precio es obligatorio'
	        		 			}
	        		 		}
		                },
		                Stock:{
	        		 		validators:{
	        		 			notEmpty:{
	        		 				message:'Campo stock es obligatorio'
	        		 			}
	        		 		}
	        		 	},
		    
		    
	        	 }
	        })
	     
		    $('#modalproductos')
	        .on('hidden.bs.modal',function(){
				$("#formEdificio").bootstrapValidator('resetForm',true);
				$("#idCodigo").val(0)
			})
		    
		});
	</script>
	
	<script src="/js/cambiar_alertas.js"></script>
</body>

</html>